.wrapper {
  background: #FFF;
  height: 100%
}

.background {
  background-image: url('../../../assets/Image/background.jpg');
  height: 100%;
  filter: brightness(55%);
  position: fixed;
  left: 0;
  right: 0;
}


.header {
  width: 100%;
  height: 100px;
  background: transparent;
  position: relative;
  z-index: 3;
}

.logo {
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 20px;
  color: #FFF;
  font-family: 'proxima-nova';
  letter-spacing: 6px;
}

.router {
  position: absolute;
  right: 30px;
  top: 30px;
  list-style: none;
  margin: 0;
  z-index: 3;
}

.router > li{
  display: inline-block;
}

.router > li a {
  margin-left: 35px;
  position: relative;
  color: transparent;
}

.router > li a span{
  font-size: 16px;
  font-family: 'proxima-nova';
  color: #FFF;
  letter-spacing: 4px;
  text-decoration: none;
}


.router > li a span:after{
  content: '';
  width: 0;
  height: 2px;
  background: #FFF;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 2px;
  transition: all .2s;
}

.router > li a span:hover:after{
  left: 0%;
  width: 100%;
}

.border {
  height: 2px;
  background: #FFF;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  margin-top: 2px;
}